@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/*About section style*/
.aboutSection{
	width: 100%;
	display: flex;
	min-height: auto;
	background: #a59fa92f;
	font-family: 'Nunito', sans-serif;
	padding-top: 14vh;
}

.cntr{
	width: 80%;
	display: block;
	margin:auto;
}

.cnt-section{
	float: left;
	width: 57%;
}

/*Set style to image*/
.image-section{
	float: right;
	width: 40%;
	margin-bottom: 5%;
}

.image-section img{
	margin-top: 3%;
	width: 120%;
	height: 100%;
}

.cnt-section .title{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 34px;
}

.cnt-section .cnt h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 28px;
}

.cnt-section .cnt p{
	margin-top: 10px;
	font-size: 23px;
	line-height: 1.5;
}

.cnt-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}

.cnt-section .social i:hover{
	color:#3d3d3d;
}

/*Play button style*/
.play{
	background-color: #913848;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 6px;
	margin-top: 5%;
	margin-bottom: 3%;
}

/*Responsive style*/
@media screen and (max-width: 1400px)
{
	.aboutSection{
		padding-top: 12vh;
	}

	.image-section img{
		margin-top: 10%;
		width: 120%;
		height: 100%;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 1250px){

	.aboutSection{
		padding-top: 8vh;
	}

		.cntr{
		width: 80%;
		display: block;
		margin:auto;
		padding-top:50px;
	}

	.cnt-section{
		float: none;
		width: 100%;
		display: block;
		margin:auto;
	}

	.image-section{
		float:none;
		width:100%;
		
	}

	.image-section img{
		width: 100%;
		height: auto;
		display: block;
		margin:auto;
	}

	.cnt-section .cnt .btn{
		text-align: center;
	}

	.cnt-section .cnt .btn a{
		padding:9px 30px;
	}

	.cnt-section .social{
		text-align: center;
	}
}