/*adding our font*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/*add a title font*/
body{
    font-size: medium;
}

h1{
    justify-content: center;
    background-color: aquamarine;
    
}
#container {
    justify-items: last baseline;
    background-color: lightblue;
    bottom: unset;
}
#photo{
    position: right;
    width: 30px;
    height: 20px;
    float: 30px;
}
#photo1{
    position: left;
    width: 20px;
    height: 10px;
    float: 10px;
    border-image: repeat;
}
#button {
    background-color: #000000;
    color: #FFFFFF;
    width: 10px;
    height: 10px;
    float: right;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }