/*Style of the boxes with information about us*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
.center_info{
    justify-content: center;
    margin-right: -50%;
    
}
.info2 {


    display: table;
    background-color: #b3cf99;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.534);
    width: 45%;
    height: 130px;
    margin: 5%;
    padding: 5px;
    font-family: 'Bitter', serif;
    color:#23585b;
    
}


  }
/*Make the style of the text*/
span {
text-align: center;
vertical-align: middle;
display: table-cell;
font-family: 'Bitter', serif;
margin-top: 2%;
border-radius: 30px;
}

.email{
    text-align: left;
    bottom: 0;
}
/*Make the style of the images*/
.img{
vertical-align: middle;
display: table-cell;
width: 140px;
border-radius: 30px;
border: solid #318a4d;
border-width: 10px;
}
/*Style the font size and alignment*/
#sub{
text-align: center;
}
/*About us page font size*/
#about{
font-size: larger;
margin-top:2%;
}

